body {
    background-color: #222;
    color: white;
    width: 700px;
    margin: 0 auto;
}

fieldset{
    text-align: center;
}

#clear{
    margin:0px 250px;
}

#list{
    background-color:aliceblue;
    color: black;
    margin: 50px auto;
    padding: 20px 10px;
}
